# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Crab generated stuff
crab_*_*
crab.history

# CMSSW specific
*pyc
*root
*~
*log

# All png images
*png
